
  <div class="mx-auto ">
    <ng-container *ngIf="productSelected;else elseTemplate">

      <div class="d-flex flex-wrap">

        <div class="col-6 d-flex align-items-center ">
          <img src={{productSelected.imgUrl}} class="img-fluid mx-auto p-0" alt="tel">
        </div>

        <div class="col-6 mt-5">
          <h2 class="card-title">{{productSelected.name}}</h2>
          <p class="card-text">{{productSelected.description}}</p>
          <p class="card-subtitle mb-2 text-muted">€ {{productSelected.price}}</p>
          <button class="btn btn-outline-primary" (click)="aggiungiProdottoAlCarrello()">Aggiungi al carrello</button>
        </div>

      </div>

    </ng-container>

    <ng-template #elseTemplate>
      <div class="d-flex justify-content-center mt-4">
        <div class="spinner-border text-info" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-template>

  </div>

